@using Alumnium.Core
@model IEnumerable<AlumniumWorkshop.Models.SiteRequest.SiteRequestModel>

@{
    ViewData["Title"] = "Index";
}


<hr />
<p>
    @if (Context.User.IsInRole(Consts.SystemAdminUserRole))
    {
        <a class="btn btn-sm btn-primary" asp-action="Create">اضافة موقع</a>
    }
</p>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">المواقع</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    اسم الموقع
                                </th>
                                <th>
                                    اسم صاحب الموقع
                                </th>
                                <th>رقم صاحب الموقع</th>
                                <th>عدد الامتار</th>
                                <th> الاجراء</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteOwnerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteOwnerPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MetersNumber)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" target="_blank" title="تعديل" data-bs-toggle="tooltip" data-bs-trigger="hover">
                                            <i class="ki-duotone ki-pencil fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </a>
                                        |
                                        <a asp-controller="Report" target="_blank" asp-action="ViewSiteReport" asp-route-id="@item.Id" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" target="_blank" title="تحميل تقرير الموقع" data-bs-toggle="tooltip" data-bs-trigger="hover">
                                            <i class="ki-duotone ki-file fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </a> |
                                        <a   asp-action="SiteItemsList" asp-route-siteId="@item.Id" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" target="_blank" title="اضافة مواد جديدة للموقع" data-bs-toggle="tooltip" data-bs-trigger="hover">
                                            <i class="ki-duotone ki-switch fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </a> |
                                        
                                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('هل تريد الحذف ؟');" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" target="_blank" title="حذف" data-bs-toggle="tooltip" data-bs-trigger="hover">
																		<i class="ki-duotone ki-trash fs-2" style="color:red">
																			<span class="path1"></span>
																			<span class="path2"></span>
																			<span class="path3"></span>
																			<span class="path4"></span>
																			<span class="path5"></span>
																		</i>
																	</a>
                                        @* <a asp-controller="Report" asp-action="ViewSiteReport" asp-route-id="@item.Id" class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4">Report</a>
                                    *@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>


