@using Alumnium.Core
@model IEnumerable<AlumniumWorkshop.Models.SiteRequest.SiteRequestModel>

@{
    ViewData["Title"] = "Index";
}

<hr />

<p>
    <div class="row">
        <div class="form-group">
            <label for="exampleInputFile"></label>

            <form enctype="multipart/form-data" asp-controller="Report" asp-action="ViewSitesGeneralReport" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="exampleInputFile">تاريخ البداية</label>
                        <input type="date" class="form-control" name="startDate">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="exampleInputFile">تاريخ النهاية</label>
                        <input type="date" class="form-control" name="endDate">
                    </div>
                </div>
                <br />
                <div class="col-md-3">
                    <button type="submit" value="Submit" class="btn btn-sm btn-primary col-md-6">انشاء تقرير</button>

                </div>
            </form>

        </div>
    </div>
</p>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sites</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    اسم الموقع
                                </th>
                                <th>
                                    اسم صاحب الموقع
                                </th>
                                <th>رقم صاحب الموقع</th>
                                <th>عدد الامتار</th>
                                <th> العملية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteOwnerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteOwnerPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MetersNumber)
                                    </td>
                                    <td>
                                        <a class="button" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                                        <a class="button" asp-controller="Report" asp-action="ViewSiteReport" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>


